/web/bundles/
/app/cache/*
/app/logs/*
/vendor/
composer.lock
/app/config/parameters.yml
build/
.idea/*
/app/bootstrap.php.cache
!app/cache/.gitkeep
!app/logs/.gitkeep
/bin/
/app/tyrant_optimize/*
!app/tyrant_optimize/.gitkeep
/app/data/*
!app/data/.gitkeep

