parameters:

services:
  logger:
    class: Bot\CoreBundle\Classes\Logger
    arguments: ["%kernel.root_dir%/logs"]

  helper.xml:
    class: Bot\CoreBundle\Helper\XMLHelper
    arguments: [@service_container]

  helper.bot:
    class: Bot\CoreBundle\Helper\BotHelper
    arguments: [@service_container]

  helper.cards:
    class: Bot\CoreBundle\Helper\CardsHelper
    arguments: [@helper.xml]

  helper.deck:
    class: Bot\CoreBundle\Helper\DeckHelper
    arguments: [@helper.cards]

  helper.optimizer:
    class: Bot\CoreBundle\Helper\OptimizerHelper
    arguments: [@service_container, @helper.cards, @helper.deck]

  helper.tile:
    class: Bot\CoreBundle\Helper\TileHelper
    arguments: [@service_container]



  listener.tile.slot.update:
    class: Bot\CoreBundle\Listener\TileSlotListener
    arguments:  [@service_container, @doctrine.orm.entity_manager]
    tags:
      - { name: kernel.event_listener, event: tile.slot.update, method: onUpdate }

